/*---------------------------- The file upload form		-----------------------------*/
html {
background-color: #ebebec;
background-image: -webkit-radial-gradient(center, #ebebec, #b4b4b4);
background-image: -moz-radial-gradient(center, #ebebec, #b4b4b4);
background-image: radial-gradient(center, #ebebec, #b4b4b4);
min-height: 900px;
}
#upload{
font-family:'PT Sans Narrow', sans-serif;
background-color:#373a3d;
background-image:-webkit-linear-gradient(top, #373a3d, #313437);
background-image:-moz-linear-gradient(top, #373a3d, #313437);
background-image:linear-gradient(top, #373a3d, #313437);
width:350px;
padding:30px;
border-radius:3px;
margin:20px auto 100px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

#drop{
background-color: #2E3134;
padding: 40px 50px;
margin-bottom: 30px;
border: 20px solid rgba(0, 0, 0, 0);
border-radius: 3px;
border-image: url('../../../../assets/css/uploadcss/images/border-image.png') 25 repeat;
text-align: center;
text-transform: uppercase;
font-size:16px;
font-weight:bold;
color:#7f858a;

}

#drop a{
background-color:#007a96;
padding:12px 26px;
color:#fff;
font-size:14px;
border-radius:2px;
cursor:pointer;
display:inline-block;
margin-top:12px;
line-height:1;

}

#drop a:hover{
background-color:#0986a3;

}

#drop input{
display:none;

}

#upload ul{
list-style:none;
margin:0 -30px;
border-top:1px solid #2b2e31;
border-bottom:1px solid #3d4043;

}

#upload ul li{
background-color:#333639;
background-image:-webkit-linear-gradient(top, #333639, #303335);
background-image:-moz-linear-gradient(top, #333639, #303335);
background-image:linear-gradient(top, #333639, #303335);
border-top:1px solid #3d4043;
border-bottom:1px solid #2b2e31;
padding:15px;
height: 52px;
position: relative;

}

#upload ul li input{
display: none;

}

#upload ul li p{width: 244px;
overflow: hidden;
white-space: nowrap;
color: #EEE;
font-size: 16px;
font-weight: bold;
position: absolute;
top: 20px;
left: 100px;

}

#upload ul li i{
font-weight: normal;
font-style:normal;
color:#7f7f7f;
display:block;

}

#upload ul li canvas{
top: 15px;
left: 32px;
position: absolute;

}

#upload ul li span{
width: 15px;
height: 12px;
background: url('../../../../assets/css/uploadcss/images/icons.png') no-repeat;
position: absolute;
top: 34px;
right: 33px;
cursor:pointer;
}
#upload ul li.working span{
height: 16px;		background-position: 0 -12px;}
#upload ul li.error p{
color:red;
}